# <font color=#ea5173>Enjoei</font><font color=#583233> Business Analytics Case</font>

## Table of Contents

[1. Information](#1.-Information)

[2. Libraries](#2.-Libraries)

[3. Data](#3.-Data)
    
[4. Exploratory Data Analysis](#4.-Exploratory-Data-Analysis)

* [4.1 Funnel](#4.1-Funnel)
* [4.2 Orders](#4.2-Orders)

## 1. Information
[Return to Table of Contents](#Table-of-Contents)

## 2. Libraries
[Return to Table of Contents](#Table-of-Contents)

In [1]:
import pandas as pd # dataframe
import numpy as np # list
import seaborn as sns # graph
from matplotlib import pyplot as plt # plot

## 3. Data
[Return to Table of Contents](#Table-of-Contents)

In [2]:
funnel = pd.read_csv("/home/pathilink/Documentos/test/enjoei/enjoei_business_analytics_case/data/funnel.csv")

funnel.sample(5)

          date  visits  product_views  carts_created  orders orders_value
29  16/04/2020   21997          28790           3099    1114    140887,53
3   13/04/2020   21135          27109           2861    1037     134157,1
38  02/04/2020   21686          27883           3049    1127    149464,26
75  20/04/2020   21240          26093           2729     972    124603,67
61  13/06/2020   18275          20495           2082     661     84464,11

In [3]:
orders = pd.read_csv("/home/pathilink/Documentos/test/enjoei/enjoei_business_analytics_case/data/orders.csv")

orders.sample(5)

,order_id,sold_at,seller_id,buyer_id,product_id,shipped_at,order_status,order_value
192,429972,01/04/2020,533412,820669,914098,NaN,canceled,"67,07"
364,430785,02/04/2020,59384,880841,371560,NaN,canceled,"107,46"
62,429244,01/04/2020,82319,512889,932539,NaN,canceled,"185,31"
355,430752,02/04/2020,679870,554756,953123,NaN,canceled,"227,58"
172,429861,01/04/2020,404810,567287,442558,NaN,canceled,"271,27"

## 4. Exploratory Data Analysis
[Return to Table of Contents](#Table-of-Contents)

## 4.1 Funnel
[Return to Table of Contents](#Table-of-Contents)

In [4]:
print('The data has {} rows and {} columns.'.format(funnel.shape[0], funnel.shape[1]))

The data has 91 rows and 6 columns.

In [5]:
funnel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           91 non-null     object
 1   visits         91 non-null     int64
 2   product_views  91 non-null     int64
 3   carts_created  91 non-null     int64
 4   orders         91 non-null     int64
 5   orders_value   91 non-null     object
dtypes: int64(4), object(2)
memory usage: 4.4+ KB

## 4.2 Orders
[Return to Table of Contents](#Table-of-Contents)

In [6]:
print('The data has {} rows and {} columns.'.format(orders.shape[0], orders.shape[1]))

The data has 500 rows and 8 columns.